################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TrainDepotSource/v15/Browse.VC.opendb
/.vs/TrainDepotSource/v15/Browse.VC.db
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
